<div id="home">
     
    <div class="section hero">
    <div class="container">
      
          <img class="kepler-logo" src="dist/kepler/logo.png">
          <h4 class="hero-heading">An easy to use Modern Front end <span class="no-framework">framework</span>  <span class="workflow">workflow</span> </h4>
          
          <a class="button button-primary" href="http://getskeleton.com">Try Kepler</a>
          
          
      
    </div>
   
  </div>

 

  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Need help getting started?</h3>
      <p class="section-description">Kepler is an easy way to get started in Front End development with best practices.</p>
      <a class="button button-primary" ui-sref="docs">View Docs</a>   <a class="button button-primary demo-button" ui-sref="spotify">View demo</a>

     
    
    </div>
       <div class="test-container">
    
      <div class="sticker">
     <a class="jasmine-icon" href="http://jasmine.github.io/" target="_blank"></a>
      </div>
 
     <p>This page was built using KeplerJS!</p>
     <p><a href="specs/start/specRunner.html"  target="_blank">
      Test this component
      </a></p>
</div>
  </div>

   
</div>

